<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    </head>
    <body>
        
        <div class="page-bg p-4">
            <div class="white-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 hd">
                            <h3>Claim Photo Capture</h3>
                        </div>
                        <div class="col-md-12 p-4">
                            <h4 class="text-center"><b>REPLACE WITH <br>ANY NICE</b></h4>
                        </div>
                        <div class="col-md-12">
                            <h5><b>A fast and easy way to capture your claim photos and documents!</b></h5>
                        </div>
                        <div class="col-9 light-color">
                        </div>
                        <div class="col-3 dark-color">
                        </div>
                        <div class="col-md-12 py-2">
                            <h5>Claim no. :2</h5>
                            <h5>Arslan Ahmad</h5>
                        </div>
                        <div class="col-md-12 photo">
                            <h4>Photo upload/capture</h4>
                        </div>

                        <div class="col-md-12 photo-bg">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Damage room overview 1</p>
                                    <div class="upload-btn-wrapper">
                                        <!-- <button class="btnn" disabled> -->
                                            <% if @photos.where(name: "photo-1-1").present? %>
                                                <%= image_tag serve_photo_path(@photos.first) %>
                                            <% else %>
                                                <%= image_tag "img-1.png", class: "img-fluid", id: "grid-1-1" %>
                                            <% end %>
                                        <!-- </button> -->
                                        <%= form_for(@photo1, :html => {:multipart => true}) do |f| %>
                                            <%= f.hidden_field :name, value: "photo-1-1" %>
                                            <%= f.file_field :data, class: "file", id: "1-1" %>
                                            <%= f.submit "Submit", class: "send", :style => "display: none;"  %>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col-md-6 text-right">
                                    <p>Damage room overview 1</p>
                                    <div class="upload-btn-wrapper">
                                        <!-- <button class="btnn" disabled> -->
                                            <% if @photos.where(name: "photo-1-2").present? %>
                                                <%= image_tag serve_photo_path(@photos.where(name: "photo-1-1").last) %>
                                            <% else %>
                                                <%= image_tag "img-1.png", class: "img-fluid", id: "grid-1-2" %>
                                            <% end %>
                                        <!-- </button> -->
                                        <%= form_for(@photo2, :html => {:multipart => true}) do |f| %>
                                            <%= f.hidden_field :name, value: "photo-1-2" %>
                                            <%= f.file_field :data, class: "file", id: "1-2" %>
                                            <%= f.submit "Submit", class: "send", :style => "display: none;"  %>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <p>Damage room overview 1</p>
                                    <div class="upload-btn-wrapper">
                                        <!-- <button class="btnn" disabled> -->
                                            <% if @photos.where(name: "photo-2-1").present? %>
                                                <%= image_tag serve_photo_path(@photos.where(name: "photo-2-1").last) %>
                                            <% else %>
                                                <%= image_tag "img-2.png", class: "img-fluid", id: "grid-2-1" %>
                                            <% end %>
                                        <!-- </button> -->
                                        <%= form_for(@photo3, :html => {:multipart => true}) do |f| %>
                                            <%= f.hidden_field :name, value: "photo-2-1" %>
                                            <%= f.file_field :data, class: "file", id: "2-1" %>
                                            <%= f.submit "Submit", class: "send", :style => "display: none;"  %>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2 text-right">
                                    <p>Damage room overview 1</p>
                                    <div class="upload-btn-wrapper">
                                        <!-- <button class="btnn" disabled> -->
                                            <% if @photos.where(name: "photo-2-2").present? %>
                                                <%= image_tag serve_photo_path(@photos.where(name: "photo-2-2").last) %>
                                            <% else %>
                                                <%= image_tag "img-2.png", class: "img-fluid", id: "grid-2-2" %>
                                            <% end %>
                                        <!-- </button> -->
                                        <%= form_for(@photo4, :html => {:multipart => true}) do |f| %>
                                            <%= f.hidden_field :name, value: "photo-2-2" %>
                                            <%= f.file_field :data, class: "file", id: "2-2" %>
                                            <%= f.submit "Submit", class: "send", :style => "display: none;"  %>
                                        <% end %>
                                    </div>
                                </div>
                                <% if @photos.count > 4 %>
                                <% @photos.last(@photos.count - 4).each do |photo| %>
                                <div class="col-md-6 mt-2 text-right">
                                    <p>Damage room overview 1</p>
                                    <div class="upload-btn-wrapper">
                                        <button class="btnn" disabled>
                                            <%= image_tag serve_photo_path(photo) %>
                                        </button>
                                    </div>
                                </div>
                                <% end %>
                                <% end %>

                                <div class="col-md-6 mt-2" id="extra">
                                    <p>Damage room overview 1</p>
                                    <div class="upload-btn-wrapper">
                                        <%#= f.hidden_field :name, value: "photo-#{rand(10)}" %>
                                        <%= image_tag "photo-upload.png", class: "img-fluid" %>
                                        <%= form_for(@photo, :html => {:multipart => true}) do |f| %>
                                            <%= f.hidden_field :name, value: "photo-#{rand(10)}" %>
                                            <%= f.file_field :data, class: "file", id: "extra-plus"  %>
                                            <%= f.submit "Submit", class: "send", :style => "display: none;"  %>
                                        <% end %>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 px-5 py-2">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                                <label class="form-check-label" for="exampleCheck1">I agree to the <a href="#">Terms & Conditions</a></label>
                            </div>
                            <%= submit_tag "Submit", id: "final_send" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <%#= content_for :javascript do -%>
        <script type="text/javascript">
        	$(function() {


                // var preview = $(".upload-preview img");

                $("#1-1").change(function(event){
                    
                   var input = $(event.currentTarget);
                   var file = input[0].files[0];
                   var reader = new FileReader();
                   reader.onload = function(e){
                       image_base64 = e.target.result;
                       console.log($(this).prev());
                       $("img#grid-1-1").attr("src", image_base64);
                   };
                   reader.readAsDataURL(file);
                });

                $("#1-2").change(function(event){
                    
                   var input = $(event.currentTarget);
                   var file = input[0].files[0];
                   var reader = new FileReader();
                   reader.onload = function(e){
                       image_base64 = e.target.result;
                       console.log($(this).prev());
                       $("img#grid-1-2").attr("src", image_base64);
                   };
                   reader.readAsDataURL(file);
                });

                $("#2-1").change(function(event){
                    
                   var input = $(event.currentTarget);
                   var file = input[0].files[0];
                   var reader = new FileReader();
                   reader.onload = function(e){
                       image_base64 = e.target.result;
                       console.log($(this).prev());
                       $("img#grid-2-1").attr("src", image_base64);
                   };
                   reader.readAsDataURL(file);
                });

                $("#2-2").change(function(event){
                    
                   var input = $(event.currentTarget);
                   var file = input[0].files[0];
                   var reader = new FileReader();
                   reader.onload = function(e){
                       image_base64 = e.target.result;
                       console.log($(this).prev());
                       $("img#grid-2-2").attr("src", image_base64);
                   };
                   reader.readAsDataURL(file);
                });

                $("#extra-plus").change(function(event){
                    
                   var input = $(event.currentTarget);
                   var file = input[0].files[0];
                   var reader = new FileReader();
                   reader.onload = function(e){
                       image_base64 = e.target.result;
                       console.log($(this).prev());
                       $("#extra").before(`<div class="col-md-6 mt-2" id="extra"><p>Damage room overview 1</p><div class="upload-btn-wrapper"><img class="img-fluid" id="grid-2-2" src=${image_base64} alt="Img 2"></div></div>`);
                   };
                   reader.readAsDataURL(file);
                });

                $("#final_send").click(function() {

                  //Select the parent form and submit
                  $("#1-1").parent("form").submit();
                  $("#1-2").parent("form").submit();
                  $("#2-1").parent("form").submit();
                  $("#2-2").parent("form").submit();

                });
            });
        </script>
        <%# end -%>
    </body>
</html>
